{% extends './core/index.html' %}

{% load staticfiles %}
{% block header %}

<div class="row-cat">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<img src="{% static "core/img/stack/1454765824_Developer.png"%}"/>
			</div>
			<div class="col-lg-10">
				<h3 class="featurette-heading">Ustawienia</h3>
				<p class="lead"></p>
			</div>
		</div>
	</div>
</div>

{% endblock header %}

{% block content %}
{% if user.is_authenticated and user.userprofile.status.id == 1 %}
<div class="push"></div>

<section>
	<div class="container">
		<div class="well">
			<h2>Lista ustawień</h2>
			<div class="">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for e in pag %}
						<tr>
							<td id="td-vert-align"><i class="fa fa-cogs fa-3x fa-blue"></i></td>
							<td id="td-vert-align"><a href="/conf/{{e.param}}" class="btn btn-primary" >{{e.names}}</a></td>
							<td id="td-vert-align">
							<p >
								{{e.descriptions}}
							</p></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
		<div class="navbar">
			<div class="container text-center">
				<ul class="pagination">
					{% if pag.has_previous %}
					<li>
						<a href="?page={{ pag.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
					</li>
					{% endif %}
					{% for e in pag.paginator.page_range  %}
					<li>
						<a href="?page={{ e }}">{{ e }}</a>
					</li>
					{% endfor %}
					{% if pag.has_next %}
					<li>
						<a href="?page={{ pag.next_page_number }}" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</section>

{% else %}

<div class="push"></div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<div class="well">
					<h1 class="text-danger">Nie masz uprawnień</h1>
					<a href="/" class="btn btn-primary">Strona główna</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}
{% endblock content %}

