{% extends './core/index.html' %}

{% load staticfiles %}
{% block header %}
{% endblock header %}

{% block content %}
{% if user.is_authenticated and user.id == edit.id %}

<div class="push"></div>

{% if ed %}
	<div class="push"></div>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-4 col-lg-offset-3 col-md-offset-2">
					<p>Teacher 2.0: <strong>Zmiany wprowadzono!</strong></p>
					<a href="/login/">Profil</a>
					<br />
				</div>
			</div>
		</div>
	</section>
	
	<div class="push"></div>
	
	{% else %}

<section>
	<div class="container">
		<div class="well">
			<h2><a href="/user/"><i class="fa fa-reply"></i> </a>Dodawanie użytkownika</h2>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
			<form class="form-horizontal" id="user_form" method="post" action="/user/self/{{edit.username}}" enctype="multipart/form-data" role="form">
				{% if er %}
					{% for e in er %}
					<p class="bg-danger">
						<i class="fa fa-exclamation-triangle"></i> {{e}}
					</p>					
					{% endfor %}
				{% endif %}
				{% csrf_token %}
				<div class="form-group">
					<label for="id_username">Login:</label>
					<input class="form-control" id="id_username" rows="1" maxlength="30" name="username" type="text" value="{{edit.username}}" disabled="True"/>
					<span class="helptext">Max 30 znaków. Dozwolone: litery, cyfry i znaki specjalne: @/./+/-/_ </span>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="id_username">Imię:</label>
							<input class="form-control" id="id_first_name" rows="1" maxlength="30" name="first_name" type="text" value="{{edit.first_name}}"/>
						</div>						
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="id_last_name">Nazwisko:</label>
							<input class="form-control" id="id_last_name" rows="1" maxlength="30" name="last_name" type="text" value="{{edit.last_name}}"/>
						</div>						
					</div>					
				</div>
				<div class="form-group">
					<label for="id_email">E-mail:</label>
					<input class="form-control" id="id_email" rows="1" maxlength="75" name="email" type="email" value="{{edit.email}}"/>
				</div>
				<div class="form-group">
					<label for="id_website">Strona:</label>
					<input class="form-control" id="id_website" rows="1" maxlength="200" name="website" type="url" value="{{edit.userprofile.website}}"/>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<img class="img-circle img-responsive text-center" src="/{{edit.userprofile.avatar}}" width="150px" height="150px" />
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="id_avatar">Avatar:</label>
							<input class="form-control" id="id_avatar" rows="1" name="avatar" type="file" />
						</div>						
					</div>
				</div>
				<div class="form-group">
					<label for="old_status">Obecny status:</label>
					<input class="form-control" id="old_status" rows="1" maxlength="200" name="old_status" type="url" disabled="" value="{{edit.userprofile.status.description}}"/>
				</div>
				<div class="form-group">
					<label for="id_message">Opis:</label>
					<textarea id="summernote" name="description" class="form-control" rows="15">
						{{edit.userprofile.descriptions}}
					</textarea>
					<hr />
				</div>					
				<div class="form-group">
					<div class=" pull-left">
						<input class="btn btn-primary" type="submit" rows="1" name="submit" value="Zapisz" />
					</div>
					<div class=" pull-left">
						<a href="/login/" class="btn btn-default" name="anuluj">Anuluj</a>
					</div>					
				</div>
			</form>
		</div>
	</div>
</section>

<div class="push"></div>

<script>
	$(document).ready(function() {
		$('#summernote').summernote({
			height : 300, // set editor height
			minHeight : null, // set minimum height of editor
			maxHeight : null, // set maximum height of editor
			focus : true,                 // set focus to editable area after initializing summernote
		}, "saveRange");
	});

</script>
	{% endif %}
{% else %}
<div class="push"></div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<div class="well">
					<h1 class="text-danger">Nie masz uprawnień</h1>
					<a href="/" class="btn btn-primary">Strona główna</a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="push"></div>
{% endif %}
{% endblock content %}
